@model Restaurante.Web.ViewModel.PedidoViewModel
@{
    ViewBag.Title = ViewBag.Title;
}

<h1 class="row">
    Seja bem vindo ao Restaurante RealTime
</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>Primeiramente Efetue o login no site.</p>
}
else
{
    <p>Seja Bem Vindo</p>
}